.flex_table {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex_table div {
    text-align: center;
    padding: 1rem;
    color: var(--mainColor_2);
    font-weight: bolder;
    width: 5rem;
    height: 1rem;
    line-height: 1rem;
    background: var(--mainColor_4);
    box-shadow: 0 0 5px 1px var(--mainColor_1);
}